<section id="banner">
  <%=raw @page.content_for(:banner) %>
</section>
<section id="body">
  <div class="decorator">
    <%=raw @page.content_for(:body) %>
  </div>
</section>
<!--section id="side-body">
  <%=raw @page.content_for(:side_body) %>
</section-->
<section id="testimonials">
  <%=raw @page.content_for(:testimonials) %>
</section>
<section id="news">
  <%=raw @page.content_for(:news) %>
</section>
