<%= link_to refinery.root_path, :class => 'logo ir' do %>
  <h1><%= Refinery::Core.site_name %></h1>
<% end %>

<ul class="social-icons">
  <li>
    <%= link_to 'https://twitter.com/Champion_FS', :title => 'Twitter' do %>
      <span aria-hidden="true" data-icon="&#x74;">
      <span class="screen-reader-text">Twitter</span>
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.facebook.com/pages/Champion-Foodservice/147409558775616', :title => 'Facebook' do %>
      <span aria-hidden="true" data-icon="&#x66;">
      <span class="screen-reader-text">Facebook</span>
    <% end %>
  </li>
  <li>
    <%= link_to 'https://plus.google.com/b/111552840760633457726/111552840760633457726/about', :title => 'Google+' do %>
      <span aria-hidden="true" data-icon="&#x67;">
      <span class="screen-reader-text">Google+</span>
    <% end %>
  </li>
  <li>
    <%= link_to 'http://www.linkedin.com/company/champion-foodservice?report%2Esuccess=se2U8YjzSfSLqmrvJWfkzmUYKl6uKkphatxlAbbto9OkvCyhhsMCP1nNWIEQv6pq2D50iVxJ', :title => 'LinkedIn' do %>
      <span aria-hidden="true" data-icon="&#x69;">
      <span class="screen-reader-text">LinkedIn</span>
    <% end %>
  </li>
</ul>

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
