<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <div id="top" class="container">
      <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
      <div id="page_container">
        <header id="header" role="banner">
          <%= render '/refinery/header' -%>
        </header>
        <section id="page" role="main">
          <%= yield %>
        </section>
      </div> <!-- eof page_container -->
    </div> <!-- eof container -->
    <div id="middle" class="container">
      <footer role="footer">
        <%= render '/refinery/footer' -%>
      </footer>
    </div> <!-- eof container -->
    <div id="bottom" class="container">
      <p class="copyright">Copyright &copy; 2013 Champion Foodservice</p>
      <nav>
        <ul>
          <li class="first"><%= link_to 'Privacy', '/privacy-policy', :title => '' %></li>
          <li class="last"><%= link_to 'Terms & Conditions', 'terms-and-conditions', :title => '' %></li>
        </ul>
      </nav>
    </div> <!-- eof container -->
    <%= render '/refinery/javascripts' %>
  </body>
</html>
